body{
	overflow: hidden;
	margin: 0;
	font-family: 'lato';
}
.container{
	width: 1920px;
	height: 250px;
}
.logo-container{
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 1920px;
	height: 230px;
}
.logo{
	margin-left: 15px;
	margin-top: 55px;
	width: 1920px;
	height: 230px;
}
.lower-third-container{
	width: 0px;
	height: 184px;
	position: absolute;
	top: 0;
	margin-top: 63px;
	margin-right: 15px;
}
.lower-third{
	height: 184px;
	background: #ffffff;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 23px;
	-webkit-clip-path: polygon(0 1%, 100% 0%, 85% 100%, 0% 100%);
	clip-path: polygon(0 1%, 100% 0%, 85% 100%, 0% 100%);
}
.lower-third-top{
	width: 1920px;
	padding: 15px 0 5px 420px;
	font-size: 3em;
	color: #000;
}
.lower-third-bottom{
	width: 1920px;
	padding: 10px 0 0 420px;
	font-size: 2.5em;
	color: #000;
}
