@import url('https://fonts.googleapis.com/css?family=Lato');
body{
	overflow: hidden;
	margin: 0;
	font-family: 'lato';
}
.container{
	width: 1920px;
	height: 250px;
}
.lower-third-container{
	width: 0px;
	height: 250px;
	top: 0;
	margin: 0 auto;
	display:block;
	margin-top: 0px;
}
.lower-third{
	height: 184px;
	background: #ecf0f1;
	border: #000 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.lower-third-top{
	padding-top: 5px;
	font-size: 2em;
	color: #000;
	width: 100%;
	opacity: 0;
}
.lower-third-top > p {
	color: #000;
	text-align:center;
}
.lower-third-bottom{
	width: 1920px;
	font-size: 2.5em;
	color: #000;
	width: 100%;
	position: absolute;
	bottom: 0;
	opacity: 0;
}
.answers {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

li.selected.correct {
	background-color: #27ae60 !important;
}
li.correct {
	background-color: #27ae60 !important;
}
li.selected  {
	background-color: #e67e22  !important;
}
li.wrong  {
	background-color: #c0392b !important;
}
li.selected.wrong {
	background-color: #c0392b !important;
}
ul.answers > li {
	float:  left;
	display: block;
	text-align: center;
	background-color: #2980b9;
	position: relative;
	width: 25%;
}
ul.answers > li > a{
	color: #fff;
	text-align: center;
	text-decoration: none;
}
